*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    text-align: center;
    width: 1440px;
    height: 669px;
    background-image: url(../images/donation1.jpg);
    background-size: 100%;
}
.banner{
    width: 826px;
    height: 320px;
    left: 307px;
    top: 174px;
}
.banner-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 65px;
    margin-top: 50px;
}
.banner-description{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    line-height: 28px;
}
.btn-primary{
    background: #FF5959;
    border-radius: 5px;
    margin-top: 30px;
}